@import "tailwindcss";
@import "@fontsource/syne/600.css";
@import "@fontsource/syne/500.css";
@import "@fontsource/syne/400.css";
@import "@fontsource/inter/400.css";
@import "@fontsource-variable/jetbrains-mono";



@theme {
  --font-body: "JetBrains Mono Variable", ui-monospace, monospace;
  --font-heading: "syne", "sans-serif";
  --color-gradient: linear-gradient(
    90deg,
    #ff4d6d 0%,
    #bd3eb2 25%,
    #7b2ff7 50%,
    #2f86f7 75%,
    #2ff7ed 100%
  );
}

@layer base {
  body {
    @apply bg-black text-white font-body text-xl overflow-x-clip;
  }
  h3 {
    @apply font-heading font-medium uppercase text-2xl;
  }
}

@layer components {
  .main-container {
    @apply max-w-[1600px] w-full m-auto px-4 lg:px-12;
  }

  h1 {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 12px;
      width: 100%;
      height: 1vh;
      background: var(--color-gradient);
      z-index: -1;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 6px;
      width: 100%;
      height: 2px;
      background: var(--color-gradient);
      z-index: -1;
    }
  }

  .text-stroke {
    -webkit-text-stroke: 1px white;
    color: transparent;
  }

  .btn-dark {
    border: 20px solid transparent;
    background:
      linear-gradient(#000, #000) padding-box,
      var(--color-gradient) border-box;
  }
  .btn-light {
    border: 2px solid transparent;
    background:
      linear-gradient(#fff, #fff) padding-box,
      var(--color-gradient) border-box;
  }

  .btn-dark:hover, .btn-light:hover {
    color:white;
    background:
      var(--color-gradient) padding-box,
      var(--color-gradient) border-box;
      
  }


  
.menu-link {
  @apply text-[10vw] lg:text-[6vw] font-heading font-medium uppercase lg:opacity-60
  hover:opacity-100;
}
}
